# Group 112 CODEOWNERS
* @rsierrav @rzblue @slpapaba
backend/ @rzblue
lambdas/ @rzblue
metrics-cli/src @rzblue
ui/ @slpapaba
frontend/ @slpapaba
metrics-cli/tests @rsierrav
.github/ @rsierrav
metrics-cli/scripts @rsierrav
docs/ @rsierrav
